<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <h1>Form de Upload</h1>
    </div>
    <hr>
    <div class="container">
      <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="file">
        <input type="submit" name="upload">
      </form>
    </div>
    
  
   
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
  </body>
</html>